#chat-box {
    margin-top: 20px;
    background-color: #262525;
    border-radius: 8px;
    height: 100%;
    padding: 10px;
}

#text-box, #history-bar {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#input-text, #menu-history {
    width: 100%;
    height: 23px;
    background-color: #3c3b3b;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 15px;
    padding: 3px 10px;
    margin-right: 10px;
    font-weight: bold;
}

#send-to-chat, #delete-history {
    background-color: #464545;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    height: 29%;
    font-weight: bold;
}

#delete-history {
    margin-top: 10px;
    padding: 9px;
}

#send-to-chat:hover, #delete-history:hover {
    background-color: #3a3a3a;
}

#send-to-chat[disabled], #input-text[disabled]  {
    cursor: not-allowed;
    opacity: 0.5;
    background-color: #3a3a3a;
}

#chat-response, #questions-history .qpair {
    font-size: 17px;
    background-color: #181818;
    color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
}

#chat-response a, #chat-response a:-webkit-any-link, 
#questions-history .qpair .answer a, 
#questions-history .qpair .answer a:-webkit-any-link {
    color: #368AD3;
    text-decoration: none;
}

#menu-history {
    font-size: 16px;
    margin-top: 10px;
    padding: 7px;
    padding-left: 10px;
    background-color: #343434;
    border-radius: 5px;
    cursor: pointer;
}

.hidden-component {
    display: none;
}

#questions-history .qpair .question {
    margin-bottom: 3px;

}

#questions-history .qpair .user, #questions-history .qpair .chatgpt {
    margin-right: 3px;
    font-weight: bold;
    color: #8d69e7;
}

#questions-history .qpair .user {
    color: gray;
}